@import "./styles/variable.scss";
@import "./styles/normalize.scss";
@import "./styles/contact-card.scss";

body {
  font-family: "Open Sans", sans-serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

main {
}

.nav {
  display: flex;
  background-color: $lawo-color-normal;

  figure {
    padding: 1em 1.2em 1em 1.2em;
    margin: 0;
    border-right: 1px solid $lawo-color-dark;

    img {
      display: flex;
      align-items: center;
      width: 2em;
      height: 2em;
    }
  }

  &__controls {
    display: flex;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
  }

  &__label {
    display: flex;
    align-items: center;
    padding: 0.3em 1em;
    font-weight: 500;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    position: relative;
    border-left: 1px solid $lawo-color-light;
    border-right: 1px solid $lawo-color-dark;
    text-transform: capitalize;

    &:last-child {
      justify-content: flex-end;
    }

    &--clear {
      opacity: 0;
      pointer-events: none;
      transition: all 275ms ease-in-out;
    }

    &--filter ~ &--clear {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      pointer-events: auto;
    }

    &--filter::after,
    &--active::after {
      transform: scale(1);
    }

    &--active {
      background-color: $lawo-color-light;

      &:after {
        content: "";
        position: absolute;
        left: calc(50% - 10px);
        bottom: -10px;
        width: 20px;
        height: 20px;
        background-color: $lawo-color-light;
        transition: none;
        transform: rotate(45deg);
      }
    }
  }

  img {
    display: flex;
    align-items: center;
    width: 1em;
    height: 1em;
  }
}

.filters {
  max-height: 80vh;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  background-color: $lawo-color-normal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-x: hidden;
  overflow-y: auto;

  &__item {
    padding: 1rem;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    /* vertical-align: middle; */
    display: flex;
    align-items: center;
    justify-content: space-around;

    &:hover {
      background-color: #fff;
      color: $lawo-color-normal;
    }

    &--active {
      color: #fff;
      background-color: $lawo-color-light;

      &:hover {
        background-color: $lawo-color-light;
        color: #fff;
      }
    }
  }
}

.dropdown {
  position: relative;
  height: 0;
  overflow: hidden;
  margin-top: 20px;
  transition: height 350ms;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-leave,
  &-enter-to {
    opacity: 1;
  }

  &-enter-active,
  &-leave-active {
    position: absolute;
    width: 100%;
    transition: opacity 200ms ease-in-out;
  }

  &-enter-active {
    transition-delay: 100ms;
  }
}

.content__list {
  margin-top: 3em;
}

/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {
}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  .btn {
    margin: 0.3em 0.6em;
  }

  .filters {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {
  nav {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    margin: 0.3em 0.3em;
  }

  .filters {
    grid-template-columns: 1fr 1fr;
  }
}
